body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    color: whitesmoke;
    outline: none;
    text-decoration: none;
}
a.active_class {
    color: yellow;
    text-decoration: none;
    display: grid;
    place-items: right;
}

.setstyle2 {
    font-size: 35px;
    font-weight: 500;
    display:grid;
    place-items: center;
    color: palevioletred;
}
h1 {
    font-size: 35px;
    font-weight: 500;
    display: grid;
    place-items: center;
    color: palevioletred;
}

h2{
    padding: 20px 20px;
    font-weight: 500;
    color: red;
    font-size: 40px;
    display: flex;
    justify-content: center;
}

h6{
    font-size: 35px;
    font-weight: 500;
    display: grid;
    place-items: center;
    color: blue;
}
.div_nav {
    color: black;
}

.first_home {
    display: grid;
    place-items: center;
    margin-top: 250px;
    font-size: 50px;
    color: palevioletred;
}


.menu_style {
    width: 100%;
    line-height: 60px;
    background-color: rgb(185, 22, 22);
    display: flex;
    justify-content: space-around;
}

button {
    color: red;
    display: grid;
    place-items: center;
    
}

.search_bar {
    width: 50%;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.search_bar input {
    margin: 30px 0;
    padding: 5px 10px;
    border-radius: 5px;
}



.main_div {
    width: 50%;
    height: 100vh;
    background-color: orangered;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  
  

  
.sec_div {
    width: 180%;
    padding: 10px 20px;
    border: none;
    outline: none;
    margin: 20px 0;
    text-align: center;
  }
  
.style_btn {
  
  line-height: 24px;
  padding: 0 10px;
  background: darkred;
  border: 2px solid #ecf0f1;
  outline: none;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

}

.foot_div {
    background-color: blue;
    color: palegreen;
    padding-bottom: 0px;
    margin-bottom: 0px;
    
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;

}
h5 {
    font-size: 30px;
    font-weight: 700;
    text-decoration: underline;
}

#header .btn-get-started {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #3498db;
    border: 2px solid #3498db;
    text-decoration: none;
}
#header .btn-get-started:hover {
    background: #3498db;
    color: #fff;
}
.brand-name {
    font-weight: 700;
    font-size: larger;
    color: #3498db;
}
footer {
   bottom: 0px;
   position: fixed;
   text-align: center;
   justify-content: center;
   margin-bottom: 0px;
   margin-top: 40px;
   background-color: darkgreen;
   
}


.header-img {
    text-align: right;
    padding-top: 30px;
}
#header .animated {
    animation: up-down 2s  ease-in-out infinite alternate-reverse both;
} 

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }

}
@media (max-width: 991px) {
    #header {
        height: 80vh;
        text-align: center;
    }
    #header .header-img {
        text-align: center;
    }
    #header .header-img img {
        width: 60%;
    }
}
@media (max-width: 768px) {
    #header h1 {
        font-size: 20px;
    }
    #header h2 {
        font-size: 9px;
        margin-bottom: 24px;
    }
    #header .header-img img {
        width: 80%;
        text-align: center;
        justify-content: center;
        margin-top: 10px;
    }
    footer {
        font-size: 10px;
        bottom: 0px;
        position: fixed;
        text-align: center;
        justify-content: center;
        margin-bottom: 0px;
        
       
        
        

    }
    h1 {
        font-size: 20px;
        text-align: center;
    }
    h3{
    
        font-size: 15px;
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    h4 {
        text-align: center;
        font-size: 15px;

    }
    .menu_style {
        
        
    }
}



